.profile-container {
    width: 50rem;
    margin: 1rem auto;
    margin-top: 5rem;
}

.profile-title {
    text-align: center;
}

.user-info {
    max-width: 60rem;
    width: 90%;
    margin: 1rem auto;
    animation: users-appear 1s ease-out forwards;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}