.form-container {
    width: 50rem;
    margin: 1rem auto;
    margin-top: 1rem;
}

.radio-container {
    width: 50rem;
    margin: 1rem auto;
    margin-top: 3rem;
}

.form-title {
    text-align: center;
}
