.list-container {
    width: 60rem;
    margin: 1rem auto;
    margin-top: 5rem;
}

.list-title {
    text-align: center;
}

.users {
    max-width: 60rem;
    width: 90%;
    margin: 1rem auto;
    animation: users-appear 1s ease-out forwards;
}

.users ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes users-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}